.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.eslintrc.json
**/*.map
**/*.ts
**/*.md
!README.md
!CHANGELOG.md
**/.DS_Store
_archive_trash/**
venv/**
.env
Trepan_Model_V2/**
trepan_server/**
.*
